
.item-text{
    margin-top: 32px;
    text-align: center;
    display: flex;
    justify-content: center;
}
.search-bar{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
table{
    width: 100%;
    text-align: left;
    border-collapse:separate; 
    border-spacing:15px;
    border-radius: 4px;
}
td {
    background: #d2d2d2;
    text-align: left;
    vertical-align: middle;
    border-radius: 4px;
  }